body{
    text-align:center;
    font-family:Arial;
}

button{
    padding:15px;
    margin:10px;
    font-size:18px;
    background-color:lightblue;
    border:none;
    border-radius:8px;
}

button:hover{
    background-color:skyblue;
}
